h1{
  /* background-attachment: fixed; */
  background-color: aqua;
  padding: 20px;
  border: 10px solid red;
  width: fit-content;
  margin-left: 500px;
  text-align: center;


}
span{
  background-color:black;
  color: whitesmoke;
  text-shadow: 20px;
}
img{
  /* padding-left: 100px; */
  width: 500px;
  border-radius: 20px;
  border: 10px solid indianred;
  margin-left: 100px;
  padding: 50px;

}